@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  list-style: none;
  box-sizing: border-box;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.text-field:focus{
  border: none !important;
  outline: none !important;
}
.socailmedia {
  width: 100%;
}
.span-12{
  margin-left: 1rem;
}
.description,
table tr td{
  /* font-family: 'Rubik Wet Paint', cursive; */
  font-family: 'Ceviche One', cursive;
}
ul {
  display: flex;
  justify-content: space-between;
}
table {
  width: 100%;
  margin: auto !important;
}
.container-main {
  padding: 1rem;
}
.slick-prev::before,
.slick-next::before {
  color: #fff !important;
  font-size: 35px !important;
  opacity: 1 !important;
}
.slick-prev,
.slick-next {
  top: 12.7% !important;
  width: 10rem !important;
  height: 10rem !important;
  border-radius: 50%;
  padding-top: 0.3rem !important;
}
.index-prize {
  background-color: #fff;
  width: calc(75% - 4rem);
  border-radius: 50px;
  height: 2rem;
  margin: auto;
  transform: translate(2rem, 0.65rem);
  position: absolute;
}
.prize-tag {
  font-family: 'Ceviche One', cursive;
  font-size: 1.5rem;
  line-height: 50px;
}
.slick-next {
  right: -12% !important;
}
.slick-prev {
  left: -11.5% !important;
  z-index: 9 !important;
}
.carousel-img{
  width: 100%;
  min-height: 280px;
  /* object-fit: cover; */
  max-height: 280px;
}
.description {
  width: 85%;
  margin: auto;
  text-align: justify;
  margin-top: -1rem !important;
  font-size: 18px;
  line-height: 25px;
}

.text-description-12{
  margin-top:-1rem ;
  margin-left: 1rem;
}
.img-carousel {
  width: 80%;
  margin: auto !important;

}
.main {
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  border: 5px solid #81d4f2;
  border-radius: 20px;
  margin-bottom: 200px;
  padding: 1rem;
}

.td-2 {
  font-size: 22px;
  font-weight: 600;
  padding-left: 1.5rem;
}
.solscan-icon{
  width: 50px;
  height: 50px;
margin-top: -0.6rem !important;
}
.magic-icon{
  width: 40px;
  height: 40px;
}
.react-icons{
  width: 30px;
height: 30px;
}
.name-title{
  font-size: 2rem;
}
.title{
  font-size: 3.5rem;
  font-family:'Rubik Wet Paint';
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}
.winner-icon{
  font-size: 50px;
  margin-left: -0.5rem;
}
.my-ticket-icon{
  width: 30px;
  height: 25px;
  vertical-align: middle !important;
}
.reward-icon{
width: 25px ;
vertical-align: middle !important;

}
.price-icon,
.time-icon{
  width: 25px;
  vertical-align: middle !important;

}
table tr td:nth-child(3){
  font-weight: 400;
  font-size: 22px;
}
.clock-btn{
  font-size: 18px;
  font-weight:600 ;
  border-radius: 40px;
  border: 1.5px solid #81d4f2;
  text-align: center;
  cursor: pointer;
  font-family: 'Ceviche One', cursive;
}
.desktop-connect{
  display: block;
}
.mobile-connect{
  display: none;
  font-family:'Rubik Wet Paint';
font-weight: 400;
text-align: center;
}
.end-text{
  display: block;
}
@media (min-width: 0px) and (max-width: 540px){
  table tr td:nth-child(3){
   text-align: center ;
  }
  .end-text{
    display: none;
  }
  .desktop-connect{
    display: none;
  }
  .mobile-connect{
    display: block;
    font-family:'Rubik Wet Paint';
  font-weight: 400;
  text-align: center;
  }
}
@media (min-width: 240px) and (max-width: 300px){
  .slick-prev,
.slick-next {
  top: 8% !important;
}

  .index-prize { 
  transform: translate(2rem, 0.5rem);
  width: calc(73% - 4rem);
  }
  .td-2 {
    font-size: 12px;
  }
  .clock-btn{
    font-size: 12px;
  }
}
@media (min-width: 301px) and (max-width: 339px){
  .td-2 {
    font-size: 12px;
  }
  .index-prize { 
    width: calc(74% - 4rem);
    height: 30px;
    transform: translate(1.8rem, 0.7rem);
  }
  .clock-btn{
    font-size: 12px;
  }
  .slick-prev,
  .slick-next {
    top: 8% !important;
  }
  .slick-next{
    right: -30% !important;
  }
  .slick-prev{
    left: -30% !important;
  }
}
@media (min-width: 340px) and (max-width: 355px){
  .index-prize { 
    width: calc(77% - 4rem);
    height: 30px;
    transform: translate(1.7rem, 0.7rem);
  }
  .td-2 {
    font-size: 14px;
  }
  .clock-btn{
    font-size: 14px;
  }
  .slick-prev,
  .slick-next {
    top: 8% !important;
  }
  .slick-next{
    right: -27% !important;
  }
  .slick-prev{
    left: -27% !important;
  }
}
@media (min-width: 356px) and (max-width: 365px){
  .index-prize { 
    width: calc(77% - 4rem);
    transform: translate(1.7rem, 0.7rem);
  }
  .prize-tag {
    line-height: 55px;
  }
  .td-2 {
    font-size: 14px;
  }
  .clock-btn{
    font-size: 14px;
  }
  .slick-prev,
  .slick-next {
    top: 8.2% !important;
  }
  .slick-next{
    right: -26% !important;
  }
  .slick-prev{
    left: -26% !important;
  }
}
@media (min-width: 366px) and (max-width: 375px){
  .index-prize { 
    width: calc(79.5% - 4rem);
    transform: translate(1.5rem, 0.8rem);
  }
  .prize-tag {
    line-height: 58px;
  }

  .slick-prev,
  .slick-next {
    top: 8.8% !important;
  }
  .slick-next{
    right: -26% !important;
  }
  .slick-prev{
    left: -26% !important;
  }
  
}
@media (min-width: 376px) and (max-width: 385px){
  .index-prize { 
    width: calc(80% - 4rem);
    transform: translate(1.5rem, 0.65rem);
  }
  .slick-prev,
  .slick-next {
    top: 8% !important;
  }
  .slick-next{
    right: -25% !important;
  }
  .slick-prev{
    left: -25% !important;
  }
}
@media (min-width: 386px) and (max-width: 395px){
  .index-prize { 
    width: calc(78% - 4rem);
    transform: translate(1.8rem, 0.9rem);
  }
  .slick-prev,
  .slick-next {
    top: 9% !important;
  }
  .slick-next{
    right: -23% !important;
  }
  .slick-prev{
    left: -23% !important;
  }
  .prize-tag {
    line-height: 58px;
  }
}
@media (min-width: 396px) and (max-width: 415px){
  .index-prize { 
    width: calc(79.2% - 4rem);
    transform: translate(1.7rem, 0.9rem);
  }
  .slick-prev,
  .slick-next {
    top: 9% !important;
  }
  .slick-next{
    right: -22% !important;
  }
  .slick-prev{
    left: -22% !important;
  }
  .prize-tag {
    line-height: 58px;
  }
}
@media (min-width: 416px) and (max-width: 485px){
  .index-prize { 
    width: calc(80.6% - 4rem);
    transform: translate(1.8rem, 0.9rem);
  }
  .slick-prev,
  .slick-next {
    top: 9% !important;
  }
  .slick-next{
    right: -18% !important;
  }
  .slick-prev{
    left: -18% !important;
  }
  .prize-tag {
    line-height: 58px;
  }
}
@media (min-width: 486px) and (max-width: 550px){
  .index-prize { 
    width: calc(81% - 4rem);
    transform: translate(2rem, 1.3rem);
  }
  .slick-prev,
  .slick-next {
    top: 10.6% !important;
  }
  .slick-next{
    right: -15% !important;
  }
  .slick-prev{
    left: -15% !important;
  }
 
  .prize-tag {
    line-height: 70px;
  }
}
@media (min-width: 551px) and (max-width: 605px){
  .index-prize { 
    width: calc(82% - 4rem);
    transform: translate(1.7rem, 1rem);
  }
  .slick-prev,
  .slick-next {
    top: 9.6% !important;
  }
  .slick-next{
    right: -15% !important;
  }
  .slick-prev{
    left: -15% !important;
  }
 
  .prize-tag {
    line-height: 60px;
  }
}
@media (min-width: 606px) and (max-width: 649px){
  .index-prize { 
    width: calc(82% - 4rem);
    transform: translate(1.8rem, 1rem);
  }
  .slick-prev,
  .slick-next {
    top: 9.6% !important;
  }
  .slick-next{
    right: -13.5% !important;
  }
  .slick-prev{
    left: -13.5% !important;
  }
 
  .prize-tag {
    line-height: 60px;
  }
}
@media (min-width: 650px) and (max-width: 720px){
  .index-prize { 
    width: calc(83% - 4rem);
    transform: translate(2rem, 1.9rem);
  }
  .prize-tag {
    line-height: 90px;
  }

}
@media (min-width: 721px) and (max-width: 785px){
  .index-prize { 
    width: calc(82% - 4rem);
    transform: translate(2.3rem, 2.1rem);
  }
  .prize-tag {
    line-height: 100px;
  }
  .slick-next{
    right: -9.5% !important;
  }
  .slick-prev{
    left: -9.5% !important;
  }
  .slick-prev,
  .slick-next {
    top: 13% !important;
  }
}
@media (min-width: 786px) and (max-width: 801px){
  .index-prize { 
    width: calc(82% - 4rem);
    transform: translate(2rem, 2.1rem);
  }
  .prize-tag {
    line-height: 100px;
  }
  .slick-next{
    right: -10.5% !important;
  }
  .slick-prev{
    left: -10.5% !important;
  }
  .slick-prev,
  .slick-next {
    top: 13% !important;
  }
}

@media (min-width:802px) and (max-width: 840px){
  .index-prize { 
    width: calc(82% - 4rem);
    transform: translate(2.1rem, 2.1rem);
  }
  .prize-tag {
    line-height: 100px;
  }
  .slick-next{
    right: -9.5% !important;
  }
  .slick-prev{
    left: -9.5% !important;
  }
  .slick-prev,
  .slick-next {
    top: 13% !important;
  }
}
@media (min-width:841px) and (max-width: 991px){
  .index-prize { 
    width: calc(83% - 4rem);
    transform: translate(2.2rem, 1.7rem);
  }
  .prize-tag {
    line-height: 80px;
  }
  .slick-next{
    right: -8.5% !important;
  }
  .slick-prev{
    left: -8.5% !important;
  }
  .slick-prev,
  .slick-next {
    top: 12% !important;
  }
}
@media screen and (min-width: 786px) {
  .main{
  border: 12px solid #81d4f2;
    
  }
  .name-title{
    font-size: 40px !important;
  }
  .solscan-icon{
    width: 60px;
    height: 60px;
margin-top: -0.6rem !important;
  }
  .magic-icon{
    width: 45px;
    height: 45px;
  }
  .react-icons{
    width: 40px;
  height: 40px;
  }
  .socailmedia {
    width: 40% !important;
  }

  table {
    width: 100% !important;
    margin: auto;
  }
  .container-main {
    padding: 1rem !important;
  }
  .sold-section {
    margin-left: 3rem !important;
    margin-top: 1rem !important;
  }
  .ticket-avilable,
  .connect-buy {
    margin-left: auto !important;
  }
  .table-connect {
    width: 100% !important;
    margin-left: auto !important;
  }
  .btn-table {
    width: 100% !important;
  }
 
  .img-block {
    margin-top: -4rem;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 80% !important;
  }
  .sold-icon{
    font-size: 40px !important;
    }
    .winner-icon{
      font-size: 50px;
      margin-left: -0.5rem;
    }
    .my-ticket-icon{
      width: 30px;
      height: 25px;
      vertical-align: middle !important;
    }
    .reward-icon{
    width: 25px ;
    vertical-align: middle !important;
    }
    .price-icon,
    .time-icon{
      width: 25px;
      vertical-align: middle !important;
    }
}
@media screen and (min-width: 992px) {
  .img-dev{
    padding-left: 2rem;
  }
  .slick-prev::before,
.slick-next::before {
  font-size: 50px !important;
}
.main{
  padding: 2rem !important;
}
.slick-next{
  right: -42% !important;
}
.slick-prev{
  left: -23% !important;
}
.slick-prev,
.slick-next {
  top: 11% !important;
}
  .index-prize {
    background-color: #fff;
    width: calc(270px - 4rem);
    border-radius: 50px;
    height: 3rem;
    margin: auto;
    transform: translate(3rem, 0.8rem);
    position: absolute;
  }
  .prize-tag {
    font-size: 2rem !important;
    line-height: 70px;
    padding-left: 1.3rem;
    text-align: center;
  }
}
@media screen and (min-width: 1080px){
  .index-prize { 
    width: calc(280px - 4rem);
    transform: translate(3.2rem, 1rem);
  }
  .prize-tag {
    line-height: 75px;
  }
}
@media screen and (min-width: 1278px) {
  .index-prize {
    background-color: #fff;
    width: calc(270px - 4rem);
    border-radius: 50px;
    height: 2.8rem;
    margin: auto;
    transform: translate(3.1rem, 1rem);
    position: absolute;
  }
  .prize-tag {
    font-size: 2rem !important;
  }

  .slick-next{
    right: -41% !important;
  }
  .slick-prev{
    left: -22% !important;
  }
}
@media screen and (min-width: 1364px) {
  .index-prize {
    width: calc(309px - 4rem);
    height: 3rem;
    transform: translate(2rem, 1rem)
  }
  .prize-tag {
    font-size: 2.2rem !important;
    line-height: 80px;
  }
  .slick-prev,
.slick-next {
  top: 11.5% !important;
}
  .slick-next{
    right: -37% !important;
  }
  .slick-prev{
    left: -26% !important;
  }
}
@media screen and (min-width: 1393px) {
  .index-prize {
    width: calc(280px - 4rem);
    height: 3rem;
    transform: translate(3rem, 1rem)
  }
  .prize-tag {
    font-size: 2.2rem !important;
    line-height: 75px;
  }
  .slick-prev,
  .slick-next {
    top: 11.5% !important;
  }
    .slick-next{
      right: -30% !important;
    }
    .slick-prev{
      left: -20% !important;
    }
}

@media (min-width: 1430px) and (max-width: 1500px){
  .index-prize {
    width: calc(290px - 4rem);
    height: 3rem;
    transform: translate(3.2rem, 1rem)
  }
  .prize-tag {
    font-size: 2.2rem !important;
    line-height: 80px;
  }
  .slick-prev,
  .slick-next {
    top: 11.3% !important;
  }
    .slick-next{
      right: -29% !important;
    }
    .slick-prev{
      left: -18% !important;
    }
} 

@media  (min-width: 1501px) and (max-width: 1620px) {
  .index-prize {
    width: calc(20% - 4rem);
    transform: translate(3.38rem, 1.2rem);
  }
  .prize-tag {
    line-height: 85px;
  }
  .slick-prev,
  .slick-next {
    top: 11.8% !important;
  }
    .slick-next{
      right: -23% !important;
    }
    .slick-prev{
      left: -15% !important;
    }
} 
@media  (min-width: 1621px) and (max-width: 1699px) {
  .index-prize {
    width: calc(20.8% - 4rem);
    transform: translate(3.18rem, 1.25rem);
  }
  .prize-tag {
    line-height: 88px;
  }
  .slick-prev,
  .slick-next {
    top: 11.9% !important;
  }
    .slick-next{
      right: -23% !important;
    }
    .slick-prev{
      left: -15% !important;
    }
}
@media  (min-width: 1700px) and (max-width: 1800px) {
  .index-prize {
    width: calc(20.4% - 4rem);
    transform: translate(3.4rem, 1.3rem);
  }
  .prize-tag {
    line-height: 90px;
  }
  .slick-prev,
  .slick-next {
    top: 12% !important;
  }
    .slick-next{
      right: -20% !important;
    }
    .slick-prev{
      left: -13% !important;
    }
}
@media  (min-width: 1801px) and (max-width: 1900px) {
  .index-prize {
    width: calc(20.6% - 4rem);
    transform: translate(3.4rem, 1.3rem);
  }
  .prize-tag {
    line-height: 90px;
  }
  .slick-prev,
  .slick-next {
    top: 12% !important;
  }
    .slick-next{
      right: -20% !important;
    }
    .slick-prev{
      left: -13% !important;
    }
}
@media  (min-width: 1901px) and (max-width: 2000px) {
  .index-prize {
    width: calc(14.4% - 4rem);
    transform: translate(3.6rem, 1.15rem);
  }
  .prize-tag {
    line-height: 85px;
  }
  .slick-prev,
  .slick-next {
    top: 12% !important;
  }
    .slick-next{
      right: -23% !important;
    }
    .slick-prev{
      left: -16% !important;
    }
}

@media  (min-width: 2001px) and (max-width: 2100px) {
  .index-prize {
    width: calc(14.4% - 4rem);
    transform: translate(3.6rem, 1.15rem);
  }
  .prize-tag {
    line-height: 85px;
  }
  .slick-prev,
  .slick-next {
    top: 12% !important;
  }
    .slick-next{
      right: -23% !important;
    }
    .slick-prev{
      left: -16% !important;
    }
}

@media  (min-width: 2101px) and (max-width: 2200px) {
  .index-prize {
    width: calc(14% - 4rem);
    transform: translate(3.5rem, 1.15rem);
  }
  .prize-tag {
    line-height: 85px;
  }
  .slick-prev,
  .slick-next {
    top: 12% !important;
  }
    .slick-next{
      right: -24% !important;
    }
    .slick-prev{
      left: -16% !important;
    }
}
@media  (min-width: 2201px) and (max-width: 2300px) {
  .index-prize {
    width: calc(13.5% - 4rem);
    transform: translate(3.5rem, 1.15rem);
  }
  .prize-tag {
    line-height: 85px;
  }
  .slick-prev,
  .slick-next {
    top: 12% !important;
  }
    .slick-next{
      right: -24% !important;
    }
    .slick-prev{
      left: -16% !important;
    }
}
@media  (min-width: 2301px) and (max-width: 2400px) {
  .index-prize {
    width: calc(13.2% - 4rem);
    transform: translate(3.5rem, 1.15rem);
  }
  .prize-tag {
    line-height: 85px;
  }
  .slick-prev,
  .slick-next {
    top: 12% !important;
  }
    .slick-next{
      right: -24% !important;
    }
    .slick-prev{
      left: -15% !important;
    }
}
@media  (min-width: 2401px) and (max-width: 2500px) {
  .index-prize {
    width: calc(12.5% - 4rem);
    transform: translate(3.5rem, 1.15rem);
  }
  .prize-tag {
    line-height: 85px;
  }
  .slick-prev,
  .slick-next {
    top: 12% !important;
  }
    .slick-next{
      right: -24% !important;
    }
    .slick-prev{
      left: -15% !important;
    }
}
@media  (min-width: 2501px) and (max-width: 2600px) {
  .index-prize {
    width: calc(11.8% - 4rem);
    transform: translate(3.5rem, 1.15rem);
  }
  .prize-tag {
    line-height: 85px;
  }
  .slick-prev,
  .slick-next {
    top: 12% !important;
  }
    .slick-next{
      right: -24% !important;
    }
    .slick-prev{
      left: -15% !important;
    }
}

@media  (min-width: 2601px) and (max-width: 3000px) {
  .index-prize {
    width: 8.3%;
    transform: translate(3.5rem, 1.15rem);
  }
  .prize-tag {
    line-height: 85px;
  }
  .slick-next{
    right: -24% !important;
  }
  .slick-prev{
    left: -15% !important;
  }
}
.rangeslider-horizontal .rangeslider__fill{
 background-color: #81d4f2 !important; 
 cursor: pointer !important;
}
.rangeslider-horizontal .rangeslider__handle{
  width:15px !important;
height: 15px !important;
cursor: pointer !important;
}
.rangeslider-horizontal .rangeslider__handle:after{
  width: 0 !important;
}
.rangeslider-horizontal{
  height: 5px !important;
}